<!DOCTYPE html>
<html>
  <head>
    <title>Stitch Front</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./index.js"></script>
  </head>
  <body ng-app="StitchFront" ng-controller="MainController as ctrl">

    <!-- HEADER SECTION -->
    <section class="header-section">
      <h1>Stitch Front</h1>
    </section>

    <!-- FILTER-SEARCH SECTION -->
    <section class="filter-search-section">
      <div class="filter-search-wrapper">
        <div class="filter-search-item">
          Filter By
          <input type="text" placeholder="Product name" ng-model="ctrl.filters.searchString" ng-change="ctrl.filterProducts()">
        </div> 
        <div class="filter-search-item">
          Date Range: 
          <input type="date" id="start" name="range-start" ng-model="ctrl.filters.startDate" ng-change="ctrl.filterProducts()">
        </div> 
        <div class="filter-search-item">
            To
            <input type="date" id="end" name="range-end" ng-model="ctrl.filters.endDate" ng-change="ctrl.filterProducts()">
          </div> 
      </div> 
    </section>

    <!-- CONTENT SECTION -->
    <section class="content-section">
      <h3>Stitch Front Products</h3>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>SKU</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in ctrl.filteredProducts">
            <td> {{ product.created_at | date:'mediumDate' }} </td>
            <td> {{ product.sku }} </td>
            <td> {{ product.description }} </td>
            <td> {{ product.quantity }} </td>
            <td> {{ product.price | currency }} </td>
          </tr>
      </tbody>
      </table>
    </section>
    <footer> Built 2019 - Jake Holtz </footer>
  </body>
</html>
