* {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  padding: 3px;
}

/* BODY STYLES */
body {
  color: #323232;
  font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

/* HEADER SECTION STYLES */
.header-section h1 {
  background-color: #0C96DF;
  color: white;
  padding: 15px 45px;
  font-size: 32px;
}


/* FILTER_SEARCH SECTION STYLES */
button {
  margin-top: 6px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover { border: 1px solid #B0B0B0; }
button:hover:active { border: 1px solid #DCDCDC; }

.add-button {
  background-color: #CCE5CC;
}

.delete-button {
  background-color: #FFCCCC;
  margin-left: 10px;
}

.filter-search-section {
  position: relative;
  margin: 15px 45px;
  height: 40px;
  font-size: 0;
}

.filter-search-wrapper {
  position: absolute;
  right: 0;
  bottom: 0px;
  top: 0;
  line-height: 50px;
}

.filter-search-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  margin-right: 15px
}

.filter-search-item:first-child input {
  width: 200px
}

/* CONTENT SECTION STYLES */
.content-section {
  margin: 15px 45px;
}

h3 {
  padding-bottom: 15px;
  text-align: center;
}

table { 
  border-spacing: 0;
  width: 100%;
}

thead {
  background-color:#F0F0F0;
}

th, td {
  border-bottom: 1px solid 	#F0F0F0;
  padding: 5px;
  text-align: left;
}

tbody tr:hover { background-color: rgb(252, 252, 252) }
tr:last-child td { border-bottom: 0 }

.price-column {
  position: relative;
}

.delete-x {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin-right: 15px;
  color: indianred;
  cursor: pointer;
}

.plus {
  font-size: 12px;
  line-height: 12px;
}

.delete-x:hover {
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 10px;
}