<!DOCTYPE html>
<html>
  <head>
    <title>Stitch Front</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../app.js"></script>
  </head>
  <body ng-app="StitchFront" ng-controller="MainController as ctrl">

    <!-- HEADER SECTION -->
    <section class="header-section" style="background-color: aqua">
      <h1>Stitch Front</h1>
    </section>

    <!-- FILTER-SEARCH SECTION -->
    <section class="filter-search-section" style="background-color: magenta">
      <button class="add-button">
        <span class="plus">&#10133;</span>
        Add Inventory
      </button>
      <button class="delete-button" ng-click="ctrl.toggleDeleteMode()">{{ ctrl.deleteMode ? 'Exit Delete Mode' : 'Delete Item' }}</button>

      <div class="filter-search-wrapper">
        <div class="filter-search-item">
          Filter By
          <input type="text" placeholder="Product name" ng-model="ctrl.filters.searchString" ng-change="ctrl.filterProducts()">
        </div> 
        <div class="filter-search-item">
          Date Range: 
          <input type="date" id="start" name="range-start" ng-model="ctrl.filters.startDate" ng-change="ctrl.filterProducts()">
        </div> 
        <div class="filter-search-item">
          To
          <input type="date" id="end" name="range-end" ng-model="ctrl.filters.endDate" ng-change="ctrl.filterProducts()">
        /div>
      </div> 
    </section>

    <!-- CONTENT SECTION -->
    <section class="content-section" style="background-color: purple">
      <h3>Stitch Front Products</h3>
      <table style="background-color: blue">
        <thead style="background-color: green">
          <tr style="background-color: red">
            <th style="background-color: orange">Date</th>
            <th style="background-color: orange">SKU</th>
            <th style="background-color: orange">Description</th>
            <th style="background-color: orange">Quantity</th>
            <th style="background-color: orange">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in ctrl.filteredProducts track by $index" style="background-color: seagreen">
            <td style="background-color: ivory"> {{ product.created_at | date:'mediumDate' }} </td>
            <td style="background-color: ivory"> {{ product.sku }} </td>
            <td style="background-color: ivory"> {{ product.description }} </td>
            <td style="background-color: ivory"> {{ product.quantity }} </td>
            <td style="background-color: ivory" class="price-column"> {{ product.price | currency }} 
              <span class="delete-x" ng-if="ctrl.deleteMode" ng-click="ctrl.deleteProduct($index)">&#10005;</span>
            </td>

          </tr>
        </tbody>
      </table>
    </section>
    <footer> 2019 - Jake Holtz </footer>
  </body>
</html>
